header {
    background: none repeat scroll 0 0 blanchedalmond;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 lightgray;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
}

table.greyGridTable tbody td {
    font-size: 13px;
}

table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
}

table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}

table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
}

table.greyGridTable tfoot td {
    font-size: 14px;
}

.app-form-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    opacity: 0.93;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    padding: 20px 20px 26px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 21px/normal Tahoma, Geneva, sans-serif;
    color: rgba(255, 255, 255, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(150, 150, 150, 1) 0, rgba(50, 50, 50, 1) 4%, rgba(95, 95, 95, 1) 50%, rgba(30, 30, 30, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(150, 150, 150, 1) 0, rgba(50, 50, 50, 1) 4%, rgba(95, 95, 95, 1) 50%, rgba(30, 30, 30, 1) 100%);
    background: linear-gradient(180deg, rgba(150, 150, 150, 1) 0, rgba(50, 50, 50, 1) 4%, rgba(95, 95, 95, 1) 50%, rgba(30, 30, 30, 1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.admin-view-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    opacity: 0.93;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    padding: 20px 20px 26px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 21px/normal Tahoma, Geneva, sans-serif;
    color: rgba(255, 255, 255, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(150, 150, 150, 1) 0, rgba(50, 50, 50, 1) 4%, rgba(95, 95, 95, 1) 50%, rgba(30, 30, 30, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(150, 150, 150, 1) 0, rgba(50, 50, 50, 1) 4%, rgba(95, 95, 95, 1) 50%, rgba(30, 30, 30, 1) 100%);
    background: linear-gradient(180deg, rgba(150, 150, 150, 1) 0, rgba(50, 50, 50, 1) 4%, rgba(95, 95, 95, 1) 50%, rgba(30, 30, 30, 1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.text-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 14px/1 Tahoma, Geneva, sans-serif;
    color: #2e3133;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.form-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 40px;
    padding: 20px;
    overflow: hidden;
    border: 1px solid rgba(209,204,204,1);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 19px/0 Tahoma, Geneva, sans-serif;
    color: rgba(0,0,0,1);
    text-align: center;
    text-indent: -5px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.3) ;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3) ;
    text-shadow: 0 0 0 rgba(0,0,0,0.2) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}



